<div class="row">
  <div class="col-12">
    <div class="form-container">
      <header class="form-title">
        <h2>確認メールの再送信</h2>
      </header>
      <div class="form-subtitle">
        <span>登録したメールアドレスを入力してください</span>
      </div>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="email-field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "field", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
        <div class="field-action">
          <%= f.submit "送信", class: "action" %>
        </div>
      <% end %>
      <div class="link-container">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>