<% @following_microposts.each do |micropost| %>
    <div class="post-container">
        <div class="post-side-frame">
            <figure class="post-avatar">
                <%= link_to user_path(micropost.user) do %>
                    <% if micropost.user.profile_image.present? %>
                        <%= image_tag attachment_url(micropost.user, :profile_image, :fill, 50, 50, format: "jpg"), {class: "mypage-image"} %>
                    <% else %>
                        <%= image_tag ("default.png"), :size => '50x50' %>
                    <% end %>
                <% end %>
            </figure>
        </div>
        <div class="post-main-frame">
            <% if current_user.id == micropost.user_id %>
                <!-- 削除 -->
                <button type="button" class="delete-button" data-toggle="modal" data-target="#exampleModal-micropost-<%= micropost.id %>">
                    <span class="dli-close"></span>
                </button>
                <!-- 削除モーダル -->
                <div class="modal fade" id="exampleModal-micropost-<%= micropost.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">削除の確認</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                                <div class="modal-body">
                                    <span>削除してもよろしいですか？</span>
                                </div>
                                <div class="modal-footer">
                                    <%= link_to micropost_path(id: micropost.id), method: :delete, remote: true do %>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">はい</button>
                                    <% end %>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                                </div>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="post-name">
                <%= link_to micropost.user.username, user_path(micropost.user) %>
            </div>
            <div class="post-body">
                <span><%= safe_join(micropost.body.split("\n"), tag(:br)) %></span>
            </div>
            <div class="frame-details">
                <div id="like-btn-<%= micropost.id %>">
                    <%= render 'likes/like', micropost: micropost %>
                </div>
                <div class="post-date">
                    <span class="text-muted"><%= l micropost.created_at %></span>
                </div>
                <div class="post-timestamp">
                    <span class="timestamp text-muted">
                        <%= time_ago_in_words(micropost.created_at) %> 前の投稿
                    </span>
                </div>
            </div>
            <div class="like-container" id="micropost-like-avatar-<%= micropost.id %>" >
                <%= render 'likes/like_avatar', micropost: micropost %>
            </div>
            <% if micropost.comments.count > 2 %>
                <% micropost.comments.first(2).each do |c| %>
                    <div class="comment-container">
                        <div class="comment-side-frame">
                            <div class="comment-avatar">
                                <% if c.user.profile_image.present? %>
                                    <%= image_tag attachment_url(c.user, :profile_image, :fill, 50, 50, format: "jpg"), {class:"comment-user-icon"} %>
                                <% else %>
                                    <%= image_tag ("default.png"), :size => '50x50', class:"comment-user-icon" %>
                                <% end %>
                            </div>
                        </div>
                        <div class="comment-main-frame">
                            <% if current_user.id == c.user_id %>
                                <!-- 削除 -->
                                <button type="button" class="delete-button" data-toggle="modal" data-target="#exampleModal-micropost-comment-<%= c.id %>">
                                    <span class="dli-close"></span>
                                </button>
                                <!-- 削除モーダル -->
                                <div class="modal fade" id="exampleModal-micropost-comment-<%= c.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">削除の確認</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                                <div class="modal-body">
                                                    <span>削除してもよろしいですか？</span>
                                                </div>
                                                <div class="modal-footer">
                                                    <%= link_to comment_path(id: c.id, micropost_id: c.micropost_id), method: :delete, remote: true do %>
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">はい</button>
                                                    <% end %>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <div class="comment-name">
                                <%= link_to c.user.username, user_path(c.user.id) %>
                            </div>
                            <div class="comment-body">
                                <span><%= safe_join(c.content.split("\n"), tag(:br)) %></span>
                            </div>
                            <span class="comment-date text-muted"><%= l c.created_at %></span>
                        </div>
                    </div> 
                <% end %>
                <div id="micropost-comment-count-<%= micropost.id %>">
                    <%= render 'static_pages/micropost_comment_count', micropost: micropost %>
                </div>
            <% else %>
                <div id="micropost-comment-view-<%= micropost.id %>">
                    <%= render 'static_pages/micropost_comment_view', micropost: micropost %>
                </div>
            <% end %>
            <% if user_signed_in? %>
                <div class="comment-create">
                    <%= form_for [@comment], remote: true do |f| %>
                        <div class="js-text" id="micropost-val-<%= micropost.id %>">
                            <%= f.text_area :content, placeholder: "コメントする", :size => "30x1", class: "form-control js-text-field" %>
                        </div>
                        <span class="text-count"></span><span class="js-text-count"></span>
                        <br>
                        <%= f.hidden_field :micropost_id, value: micropost.id, class: "hidden_field" %>
                        <%= f.submit "コメントする", class: "js-submit btn btn-primary" %>
                    <% end %>
                </div>
            <% else %>
            <% end %>
        </div>
    </div>
<% end %>