<header class="common-main-title">
    <h2>
        <span>最近のつぶやき</span>
    </h2>
</header>
<% @following_microposts.each do |micropost| %>
    <div class="post-container">
        <div class="post-side-frame">
            <figure class="post-avatar">
                <%= link_to user_path(micropost.user) do %>
                    <% if micropost.user.profile_image.present? %>
                        <%= image_tag attachment_url(micropost.user, :profile_image, :fill, 50, 50, format: "jpg"), {class: "mypage-image"} %>
                    <% else %>
                        <%= image_tag ("default.png"), :size => '50x50' %>
                    <% end %>
                <% end %>
            </figure>
        </div>

        <div class="post-main-frame">
            <div class="post-name">
                <%= link_to micropost.user.username, user_path(micropost.user) %>
            </div>

            <div class="post-body">
                <span><%= micropost.body %></span>
            </div>

            <div class="frame-details">

                <div id="like-btn-<%= micropost.id %>">
                    <%= render 'likes/like', micropost: micropost %>
                </div>

                <div class="post-date">
                    <span class="text-muted"><%= l micropost.created_at %></span>
                </div>

                <div class="post-timestamp">
                    <span class="timestamp text-muted">
                        <%= time_ago_in_words(micropost.created_at) %> 前の投稿
                    </span>
                </div>

            </div>

            <div class="like-container">
                <% @likes = Like.where(micropost_id: micropost.id) %>
                <% if @likes.present? %>
                    <% @likes.each do |like| %>
                        <div class="like-users">
                            <%= link_to user_path(like.user.id) do %>
                                <% if like.user.profile_image.present? %>
                                    <%= image_tag attachment_url(like.user, :profile_image, :fill, 40, 40, format: "jpg"), {class:"liked-user-icon"} %>
                                <% else %>
                                    <%= image_tag ("default.png"), :size => '40x40', class:"liked-user-icon" %>
                                <% end %>
                            <% end %>
                        </div>
                    <%end%>
                <% else %>
                <% end %>
            </div>

            <% micropost.comments.each do |c| %>
                <div class="comment-container">
                    <div class="comment-side-frame">
                        <div class="comment-avatar">
                            <% if c.user.profile_image.present? %>
                                <%= image_tag attachment_url(c.user, :profile_image, :fill, 50, 50, format: "jpg"), {class:"comment-user-icon"} %>
                            <% else %>
                                <%= image_tag ("default.png"), :size => '50x50', class:"comment-user-icon" %>
                            <% end %>
                        </div>
                    </div>

                    <div class="comment-main-frame">
                        <div class="comment-name">
                            <%= link_to c.user.username, user_path(c.user.id) %>
                        </div>

                        <div class="comment-body">
                            <span><%= c.content %></span>
                        </div>
                        <span class="comment-date text-muted"><%= l c.created_at %></span>
                    </div>
                </div> 
                            
            <% end %>

                
            <!--@commentを生成することでcommentのform_forを動かせるようにしている-->
            <% @comment = Comment.new %>    
            <div class="comment-create">
                <%= form_for [@comment] do |f| %>
                    <%= f.text_field :content %>
                    <br>
                    <%= f.hidden_field :micropost_id, value: micropost.id %>
                    <%= f.submit %>
                <% end %>
            </div>
        </div>

    </div>
<% end %>