<% if @following_records.blank? %>
    <div class="common-blank-container">
        <div class="common-blank">
            <span>表示項目がありません。</span>
        </div>
    </div>
<% end %>
<% @following_records.each do |record| %>
    <div class="post-container">
        <div class="post-side-frame">
            <figure class="post-avatar">
                <%= link_to user_path(record.user) do %>
                    <% if record.user.profile_image.present? %>
                        <%= image_tag attachment_url(record.user, :profile_image, :fill, 50, 50, format: "jpg"), {class: "mypage-image"} %>
                    <% else %>
                        <%= image_tag ("default.png"), :size => '50x50' %>
                    <% end %>
                <% end %>
            </figure>
        </div>
        <div class="post-main-frame">
            <% if current_user.id == record.user_id %>
                <!-- 削除 -->
                <button type="button" class="delete-button" data-toggle="modal" data-target="#exampleModal-record-<%= record.id %>">
                    <span class="dli-close"></span>
                </button>
                <!-- 削除モーダル -->
                <div class="modal fade" id="exampleModal-record-<%= record.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">削除の確認</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                                <div class="modal-body">
                                    <span>削除してもよろしいですか？</span>
                                </div>
                                <div class="modal-footer">
                                    <%= link_to record_path(id: record.id), method: :delete, remote: true do %>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">はい</button>
                                    <% end %>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                                </div>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="post-name">
                <%= link_to record.user.username, user_path(record.user) %>
            </div>
            <div class="post-body">
                <span><%= safe_join(record.body.split("\n"), tag(:br)) %></span>
            </div>
            <div class="song-details">
                <div class="song-side-frame">
                    <%= image_tag (record.image_url), :size => '150x150' %>
                </div>
                <div class="song-main-frame">
                    <div class="song-title">
                        <%= link_to record.song_name, music_path(record.music_id) %>
                    </div>
                    <div class="song-practice">
                        <span>練習時間 : <span class="song-practice-time">＋ <%= record.time %>時間<%= record.time_minutes %>分</span></span>
                    </div>
                </div>               
            </div>
            <div class="frame-details">
                <div id="record-like-btn-<%= record.id %>">
                    <%= render 'record_likes/like', record: record %>
                </div>
                
                <div class="post-date">
                    <span class="text-muted"><%= l record.created_at %></span>
                </div>
                <div class="post-timestamp">
                    <span class="timestamp text-muted">
                        <%= time_ago_in_words(record.created_at) %> 前の投稿
                    </span>
                </div>
            </div>
            <div class="like-container" id="record-like-avatar-<%= record.id %>">
                <%= render 'record_likes/like_avatar', record: record %>
            </div>
            <!--コメント一覧-->
            <% if record.comments.count > 2 %>
                <% record.comments.first(2).each do |r| %>
                    <div class="comment-container">
                        <div class="comment-side-frame">
                            <div class="comment-avatar">
                                <% if r.user.profile_image.present? %>
                                    <%= image_tag attachment_url(r.user, :profile_image, :fill, 50, 50, format: "jpg"), {class:"comment-user-icon"} %>
                                <% else %>
                                    <%= image_tag ("default.png"), :size => '50x50', class:"comment-user-icon" %>
                                <% end %>
                            </div>
                        </div>
                        <div class="comment-main-frame">
                            <% if current_user.id == r.user_id %>
                                <!-- 削除 -->
                                <button type="button" class="delete-button" data-toggle="modal" data-target="#exampleModal-record-comment-<%= r.id %>">
                                    <span class="dli-close"></span>
                                </button>
                                <!-- 削除モーダル -->
                                <div class="modal fade" id="exampleModal-record-comment-<%= r.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">削除の確認</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                                <div class="modal-body">
                                                    <span>削除してもよろしいですか？</span>
                                                </div>
                                                <div class="modal-footer">
                                                    <%= link_to comment_path(id: r.id, record_id: r.record_id), method: :delete, remote: true do %>
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">はい</button>
                                                    <% end %>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <div class="comment-name">
                                <%= link_to r.user.username, user_path(r.user.id) %>
                            </div>
                            <div class="comment-body">
                                <span><%= safe_join(r.content.split("\n"), tag(:br)) %></span>
                            </div>
                            <span class="comment-date text-muted"><%= l r.created_at %></span>
                        </div>
                    </div> 
                <% end %>
                <div id="record-comment-count-<%= record.id %>">
                    <%= render 'static_pages/record_comment_count', record: record %>
                </div>
            <% else %>
                <div id="record-comment-view-<%= record.id %>">
                    <%= render 'static_pages/record_comment_view', record: record %>
                </div>
            <% end %>
            <!--コメント投稿-->
            <% if user_signed_in? %>
                <div class="comment-create">
                    <%= form_for [@comment], remote: true do |f| %>
                        <div class="js-text" id="record-val-<%= record.id %>" >
                            <%= f.text_area :content, placeholder: "コメントする", :size => "30x1", class: "form-control js-text-field" %>
                        </div>
                        <span class="text-count"></span><span class="js-text-count"></span>
                        <br>
                        <%= f.hidden_field :record_id, value: record.id, class: "hidden_field" %>
                        <%= f.submit "コメントする", class: "js-submit btn btn-primary" %>
                    <% end %>
                </div>
            <% else %>
            <% end %>
        </div>
    </div>
<% end %>