<% review.comments.each do |r| %>
    <div class="comment-container">
        <div class="comment-side-frame">
            <div class="comment-avatar">
                <% if r.user.profile_image.present? %>
                    <%= image_tag attachment_url(r.user, :profile_image, :fill, 50, 50, format: "jpg"), {class:"comment-user-icon"} %>
                <% else %>
                    <%= image_tag ("default.png"), :size => '50x50', class:"comment-user-icon" %>
                <% end %>
            </div>
        </div>
        <div class="comment-main-frame">
            <div class="comment-name">
                <%= link_to r.user.username, user_path(r.user.id) %>
            </div>
            <div class="comment-body">
                <span><%= r.content %></span>
            </div>
            <span class="comment-date text-muted"><%= l r.created_at %></span>
        </div>
    </div>
<% end %>