<div class="row">
    <div class="col-4">
    </div>
    
    <div class="col-8">
        <% if user_signed_in? %>
            <div class="tab-wrap">
                <!-- つぶやき -->
                <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">つぶやき</label>
                <div class="tab-content">
                    <%= render 'static_pages/microposts' %>
                </div>

                <!-- 練習記録 -->
                <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">練習記録</label>
                <div class="tab-content">
                    <%= render 'static_pages/records' %>
                </div>

                <!-- レビュー -->
                <input id="TAB-03" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-03">レビュー</label>
                <div class="tab-content">
                    <%= render 'static_pages/reviews' %>
                </div>
            </div>

        <% else %>
            <div>
                <%= link_to "ログイン", new_user_session_path %>
                <%= link_to "サインアップ", new_user_registration_path %>
            </div>
        <% end %>
    </div>
</div>
