<!--@commentを生成することでcommentのform_forを動かせるようにしている-->
<% @comment = Comment.new %>
<% @microposts.each do |micropost| %>
    <div class="post_container">
        <div>
            <%= link_to micropost.user.username, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
            <p><%= micropost.body %></p>
        </div>
        <span class="timestamp">
            <%= time_ago_in_words(micropost.created_at) %> 前の投稿
        </span>
        <div id="like-btn-<%= micropost.id %>">
            <%= render 'likes/like', micropost: micropost %>
        </div>
        
        <%# いいねしたユーザー一覧表示%>
        <div>
            <% @likes = Like.where(micropost_id: micropost.id) %>
            <% if @likes.present? %>
                <p>いいねしたユーザー</p>
                <% @likes.each do |like| %>
                    <%= link_to like.user.username, user_path(like.user.id) %>
                    <% if like.user.profile_image.present? %>
                        <%= image_tag attachment_url(like.user, :profile_image, :fill, 50, 50, format: "jpg"), {class: "mypage-image"} %>
                    <% else %>
                        <%= image_tag ("default.png"), :size => '50x50' %>
                    <% end %>
                <%end%>
            <% else %>
            <% end %>
        </div>

        <!--コメント一覧-->
        <div>
            <% micropost.comments.each do |c| %>
                <div>
                    <%= link_to c.user.username, user_path(c.user.id) %>
                    <%= c.content %>
                    <%= c.created_at %>
                </div>
            <% end %>
        </div>

        <!--コメント投稿-->
        <div>
            <%= form_for [@comment] do |f| %>
                <%= f.text_field :content %>
                <br>
                <%= f.hidden_field :micropost_id, value: micropost.id %>
                <%= f.submit %>
            <% end %>
        </div> 



    </div>
<% end %>