<% if @reviews.blank? %>
    <div class="common-blank-container">
        <div class="common-blank">
            <span>表示項目がありません。</span>
        </div>
    </div>
<% end %>
<% @reviews.each do |review| %>
    <div class="post-container">
        <div class="post-side-frame">
            <figure class="post-avatar">
                <%= link_to user_path(review.user) do %>
                    <% if review.user.profile_image.present? %>
                        <%= image_tag attachment_url(review.user, :profile_image, :fill, 50, 50, format: "jpg"), {class: "mypage-image"} %>
                    <% else %>
                        <%= image_tag ("default.png"), :size => '50x50' %>
                    <% end %>
                <% end %>
            </figure>
        </div>
        <div class="post-main-frame">
            <% if current_user.id == review.user_id %>
                <!-- 削除 -->
                <button type="button" class="delete-button" data-toggle="modal" data-target="#exampleModal-review-<%= review.id %>">
                    <span class="dli-close"></span>
                </button>
                <!-- 削除モーダル -->
                <div class="modal fade" id="exampleModal-review-<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">削除の確認</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                                <div class="modal-body">
                                    <span>削除してもよろしいですか？</span>
                                </div>
                                <div class="modal-footer">
                                    <%= link_to music_review_path(id: review.id, music_id: review.music_id), method: :delete, remote: true do %>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">はい</button>
                                    <% end %>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                                </div>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="post-name">
                <%= link_to review.user.username, user_path(review.user) %>
            </div>
            <div class="post-body">
                <span><%= safe_join(review.content.split("\n"), tag(:br)) %></span>
            </div>
            
            <div class="song-details">
                <div class="song-side-frame">
                    <%= image_tag (review.music.image_url), :size => '150x150' %>
                </div>
                <div class="song-main-frame">
                    <div class="song-title">
                        <%= link_to review.music.song_name, music_path(review.music) %>
                    </div>
                </div>               
            </div>
            <div class="frame-details">
                <div id="review-like-btn-<%= review.id %>">
                    <%= render 'review_likes/like', review: review %>
                </div>
                <div class="post-date">
                    <span class="text-muted"><%= l review.created_at %></span>
                </div>
                <div class="post-timestamp">
                    <span class="timestamp text-muted">
                        <%= time_ago_in_words(review.created_at) %> 前の投稿
                    </span>
                </div>
            </div>
            <div class="like-container" id="review-like-avatar-<%= review.id %>">
                <%= render 'review_likes/like_avatar', review: review %>
            </div>
            <!--コメント一覧-->
            <% if review.comments.count > 2 %>
                <% review.comments.first(2).each do |r| %>
                    <div class="comment-container">
                        <div class="comment-side-frame">
                            <div class="comment-avatar">
                                <% if r.user.profile_image.present? %>
                                    <%= image_tag attachment_url(r.user, :profile_image, :fill, 50, 50, format: "jpg"), {class:"comment-user-icon"} %>
                                <% else %>
                                    <%= image_tag ("default.png"), :size => '50x50', class:"comment-user-icon" %>
                                <% end %>
                            </div>
                        </div>
                        <div class="comment-main-frame">
                            <% if current_user.id == r.user_id %>
                                <!-- 削除 -->
                                <button type="button" class="delete-button" data-toggle="modal" data-target="#exampleModal-review-comment-<%= r.id %>">
                                    <span class="dli-close"></span>
                                </button>
                                <!-- 削除モーダル -->
                                <div class="modal fade" id="exampleModal-review-comment-<%= r.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">削除の確認</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                                <div class="modal-body">
                                                    <span>削除してもよろしいですか？</span>
                                                </div>
                                                <div class="modal-footer">
                                                    <%= link_to comment_path(id: r.id, review_id: r.review_id), method: :delete, remote: true do %>
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">はい</button>
                                                    <% end %>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <div class="comment-name">
                                <%= link_to r.user.username, user_path(r.user.id) %>
                            </div>
                            <div class="comment-body">
                                <span><%= safe_join(r.content.split("\n"), tag(:br)) %></span>
                            </div>
                            <span class="comment-date text-muted"><%= l r.created_at %></span>
                        </div>
                    </div> 
                <% end %>
                <div id="review-comment-count-<%= review.id %>">
                    <%= render 'users/review_comment_count', review: review %>
                </div>
            <% else %>
                <div id="review-comment-view-<%= review.id %>">
                    <%= render 'users/review_comment_view', review: review %>
                </div>
            <% end %>
            <!--コメント投稿-->
            <% if user_signed_in? %>
                <div class="comment-create">
                    <%= form_for [@comment], remote: true do |f| %>
                        <div class="js-text" id="review-val-<%= review.id %>">
                            <%= f.text_area :content, placeholder: "コメントする", :size => "30x1", class: "form-control js-text-field" %>
                        </div>
                        <span class="text-count"></span><span class="js-text-count"></span>
                        <br>
                        <%= f.hidden_field :review_id, value: review.id, class: "hidden_field" %>
                        <%= f.submit "コメントする", class: "js-submit btn btn-primary" %>
                    <% end %>
                </div>
            <% else %>
            <% end %>
        </div>
    </div>
<% end %>