<%= javascript_pack_tag 'comment' %>
<div class="row">
    <div class="col-4 side-wrapper">
        <%= render "users/profile" %>
        
    </div>

    <div class="col-8">
        <canvas id="myChart"></canvas>
        <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

        <script>
        var artistline = <%== @artistline %>;
        var countline = <%= @countline %>;
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: artistline,
                datasets: [{
                    data: countline,
                    backgroundColor: ['tomato', 'skyblue', 'gray']
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'アーティストグラフ'
                },
                legend: {
                    display: false
                },
                plugins: {
                    labels: [
                        {
                            render: 'label',
                            position: 'outside',
                            textMargin: 10
                        },
                        {
                            render: 'percentage',
                            fontSize: 18,
                            fontColor: 'white',
                            precision: 1
                        }
                    ]
                },
            },
        });
        </script>


        <!--=====自分の投稿=====-->
        <section>
            <div class="post-wrapper">
                <header class="common-main-title">
                    <h2>
                        <span>最近のつぶやき</span>
                    </h2>
                </header>
                <div id="partial-micropost">
                    <%= render 'users/microposts', microposts: @microposts %>
                </div>
            </div>
            <div class="more-container">
                <%= link_to_next_page @microposts, 'もっと見る', id: "more-micropost", remote: true %>
            </div>
        </section>


    </div>
</div>