<h1><%= @user.username %></h1>

<% if @user.id == current_user.id%>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        つぶやく
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">つぶやく</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <%= form_for(@micropost, remote:true) do |f| %>
                    <div class="modal-body">
                        <%= f.text_area :body%>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        <%= f.submit "つぶやく", class: "btn btn-primary btn-block" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>




    <div id="partial-micropost" class="col-9 sidebar microposts">
        <%= render 'users/microposts', microposts: @microposts %>
    </div>