<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-12 col-lg-8">
        <div class="practice-regi-wrapper">
            <header class="common-main-title">
                <h2>
                    <span>検索結果</span>
                </h2>
            </header>
            <div class="practice-regi-container">
                <% if @s_tracks.present? %>
                    <% @s_tracks.each_slice(4) do |s_tracks| %>
                        <ul class="practice-list">
                            <% s_tracks.each do |s_track| %>
                                <li class="practice-list-song">
                                    <div class="practice-regi-container-2">
                                        <% s_track.external_ids["isrc"] %>
                                        <div class="practice-regi-up-frame">
                                            <div class="practice-regi-image">
                                                <% if s_track.album.images.any?%>
                                                    <% image = s_track.album.images[1]%>
                                                    <%if Music.exists?(external_id: s_track.external_ids["isrc"], album_name: s_track.album.name) %>
                                                        <% find = Music.find_by(external_id: s_track.external_ids["isrc"], album_name: s_track.album.name) %>
                                                        <%= link_to music_path(find.id) do %>
                                                            <%= image_tag (image["url"]), :size => "150x150" %>
                                                        <% end %>
                                                    <% else %>
                                                        <% @detail = {song_name:s_track.name, artist_name: s_track.artists[0].name, album_name: s_track.album.name, image_url: image["url"], external_id: s_track.external_ids["isrc"] } %>
                                                        <%= link_to music_index_path(detail: @detail), method: :post do %>
                                                            <%= image_tag (image["url"]), :size => "150x150" %>
                                                        <% end %>
                                                    <% end %>                                                   
                                                <%else%>
                                                    <%if Music.exists?(external_id: s_track.external_ids["isrc"], album_name: s_track.album.name) %>
                                                        <% find = Music.find_by(external_id: s_track.external_ids["isrc"], album_name: s_track.album.name) %>
                                                        <%= link_to music_path(find.id) do %>
                                                            <%= image_tag ("default.jpg"), :size => "150x150" %>
                                                        <% end %>
                                                    <% else %>
                                                        <% @detail = {song_name:s_track.name, artist_name: s_track.artists[0].name, album_name: s_track.album.name, image_url: image["url"], external_id: s_track.external_ids["isrc"] } %>
                                                        <%= link_to music_index_path(detail: @detail), method: :post do %>
                                                            <%= image_tag ("default.jpg"), :size => "150x150" %>
                                                        <% end %>
                                                    <% end %>
                                                <%end%>
                                            </div>
                                        </div>
                                        <div class="practice-regi-down-frame">
                                            <div class="practice-regi-title">
                                                <%if Music.exists?(external_id: s_track.external_ids["isrc"], album_name: s_track.album.name) %>
                                                    <% find = Music.find_by(external_id: s_track.external_ids["isrc"], album_name: s_track.album.name) %>
                                                    <%= link_to music_path(find.id) do %>
                                                        <span><%= s_track.name %></span>
                                                    <% end %>
                                                <% else %>
                                                    <% @detail = {song_name:s_track.name, artist_name: s_track.artists[0].name, album_name: s_track.album.name, image_url: image["url"], external_id: s_track.external_ids["isrc"] } %>
                                                    <%= link_to music_index_path(detail: @detail), method: :post do %>
                                                        <span><%= s_track.name %></span>
                                                    <% end %>
                                                <% end %>
                                            </div>
                                            <div class="practice-regi-artist">
                                                <span><%= s_track.artists[0].name %></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <% end %>
                        </ul>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>