<% reviews.each do |review| %>
    <div class="post-container">
        <div class="post-side-frame">
            <figure class="post-avatar">
                <%= link_to user_path(review.user) do %>
                    <% if review.user.profile_image.present? %>
                        <%= image_tag attachment_url(review.user, :profile_image, :fill, 50, 50, format: "jpg"), {class: "mypage-image"} %>
                    <% else %>
                        <%= image_tag ("default.png"), :size => '50x50' %>
                    <% end %>
                <% end %>
            </figure>
        </div>
        <div class="post-main-frame">
            <div class="post-name">
                <%= link_to review.user.username, user_path(review.user) %>
            </div>
            <div class="post-body">
                <span><%= review.content %></span>
            </div>
            <div class="frame-details">
                <div id="review-like-btn-<%= review.id %>">
                    <%= render 'review_likes/like', review: review %>
                </div>
                <div class="post-date">
                    <span class="text-muted"><%= l review.created_at %></span>
                </div>
                <div class="post-timestamp">
                    <span class="timestamp text-muted">
                        <%= time_ago_in_words(review.created_at) %> 前の投稿
                    </span>
                </div>
            </div>
            <div class="like-container" id="review-like-avatar-<%= review.id %>">
                <%= render 'review_likes/like_avatar', review: review %>
            </div>
            <!--コメント一覧-->
            <% if review.comments.count > 2 %>
                <% review.comments.first(2).each do |r| %>
                    <div class="comment-container">
                        <div class="comment-side-frame">
                            <div class="comment-avatar">
                                <% if r.user.profile_image.present? %>
                                    <%= image_tag attachment_url(r.user, :profile_image, :fill, 50, 50, format: "jpg"), {class:"comment-user-icon"} %>
                                <% else %>
                                    <%= image_tag ("default.png"), :size => '50x50', class:"comment-user-icon" %>
                                <% end %>
                            </div>
                        </div>
                        <div class="comment-main-frame">
                            <div class="comment-name">
                                <%= link_to r.user.username, user_path(r.user.id) %>
                            </div>
                            <div class="comment-body">
                                <span><%= r.content %></span>
                            </div>
                            <span class="comment-date text-muted"><%= l r.created_at %></span>
                        </div>
                    </div> 
                <% end %>
                <div id="review-comment-count-<%= review.id %>">
                    <%= render 'static_pages/review_comment_count', review: review %>
                </div>
            <% else %>
                <div id="review-comment-view-<%= review.id %>">
                    <%= render 'static_pages/review_comment_view', review: review %>
                </div>
            <% end %>
            <!--コメント投稿-->
            <% if user_signed_in? %>
                <div class="comment-create">
                    <% @comment = current_user.comments.build %>
                    <%= form_for [@comment], remote: true do |f| %>
                        <div class="js-text" id="review-val-<%= review.id %>">
                            <%= f.text_field :content, placeholder: "コメントする", class: "form-control js-text-field" %>
                        </div>
                        <span class="text-count"></span><span class="js-text-count"></span>
                        <br>
                        <%= f.hidden_field :review_id, value: review.id, class: "hidden_field" %>
                        <%= f.submit "コメントする", class: "js-submit btn btn-primary" %>
                    <% end %>
                </div>
            <% else %>
            <% end %>
        </div>
    </div>
<% end %>
