<%= javascript_pack_tag 'comment' %>
<div class="row">
    <div class="col-12 col-lg-4 side-wrapper">
        <section class="side-column-wrapper">
            <section>
                <div class="musicdata-container">
                    <div class="musicdata-image">
                        <%= image_tag (@music.image_url), :size => '200x200' %>
                    </div>
                    <div class="musicdata-song">
                        <span>曲名：<%= @music.song_name %></span>
                    </div>
                    <div class="musicdata-artist">
                        <span>アーティスト名：<%= @music.artist_name %></span>
                    </div>
                    <div class="musicdata-album">
                        <span>アルバム名：<%= @music.album_name %></span>
                    </div>
                </div>
            </section>
            <section>
                <div class="registration-container">
                    <header class="common-side-title">
                        <h2>
                            <span>楽曲の登録</span>
                        </h2>
                    </header>
                    <ul class="registration-nav">
                        <li>
                            <% if @music.already_wishes?(current_user) %>
                                <%= link_to "練習したい曲から解除", music_wish_path(music_id: @music.id), method: :delete %>
                            <% else %>
                                <%= link_to "練習したい曲に登録", music_wishes_path(music_id: @music.id), method: :post %>
                            <% end %>
                        </li>
                        <li>
                            <% if @music.already_practicings?(current_user) %>
                                <%= link_to "練習中の曲から解除", music_practicing_path(music_id: @music.id), method: :delete %>
                            <% else %>
                                <%= link_to "練習中の曲に登録", music_practicings_path(music_id: @music.id), method: :post %>
                            <% end %>
                        </li>
                        <li>
                            <% if @music.already_practiceds?(current_user) %>
                                <%= link_to "練習した曲から解除", music_practiced_path(music_id: @music.id), method: :delete %>
                            <% else %>
                                <%= link_to "練習した曲に登録", music_practiceds_path(music_id: @music.id), method: :post %>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </section>
        </section>   
    </div>
    <div class="col-12 col-lg-8">
        <%= form_for [@music,@review], remote: true do |f| %>
            <div class="js-text" id="<%= @music.id %>">
                <%= f.text_area :content, placeholder: "レビュー・感想を投稿する", :size => "30x1", class: "form-control js-text-field" %>
            </div>
            <span class="text-count"></span><span class="js-text-count"></span>
            <br>
            <%= f.submit "投稿する", class: "js-submit btn btn-primary" %>
        <% end %>
        <header class="common-main-title review-title">
            <h2>
                <span>レビュー・感想</span>
            </h2>
        </header>
        <div id="review-2">
            <%= render 'musics/reviews', reviews: @reviews %>
        </div>
        <div class="more-container">
            <%= link_to_next_page @reviews, 'もっと見る', id: "more-review", remote: true %>
        </div>
    </div>
</div>