<h1>曲名：<%= @music.song_name %></h1>
<h1>アーティスト名：<%= @music.artist_name %></h1>
<h1>アルバム名：<%= @music.album_name %></h1>
<%= image_tag(@music.image_url) %>
<% @music.external_id %>

<%= form_for [@music,@review], remote: true do |f| %>
    <%= f.text_area :content, id: "content" %>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

<div id="review">
    <%= render 'musics/reviews', reviews: @reviews %>
</div>