<% if user_signed_in? %>
    <nav class="navbar">
        <div class="logo">
            MONOCHORDS
        </div>
        <ul class="navitems">
            <li><i class="navitem fa fa-home"></i><%= link_to "トップ", root_path, {class: "nav-item"} %></li>  
            <li><i class="navitem fas fa-user"></i><%= link_to "#{current_user.username}さんのマイページ", user_path(current_user.id) %></li>
            <li><i class="navitem fas fa-user-edit"></i><%= link_to "編集", edit_user_path(current_user.id) %></li>
            <li><i class="navitem fas fa-sign-out-alt"></i><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a></li>
        </ul>
    </nav>
<% else %>
    <li><%= link_to 'ログイン', new_user_session_path %></li>
<% end %>