<!DOCTYPE html>
<html>
  <head>
    <title>Monochords</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/68c363eefb.js" crossorigin="anonymous"></script>
  </head>

  <body>
    
    <% if user_signed_in? %>
    <ul>
        <li><%= link_to "トップ",   root_path %></li>  
        <li><%= link_to "#{current_user.username}さんのマイページ", user_path(current_user.id) %></li>
        <li><%= link_to "編集", edit_user_path(current_user.id) %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a></li>
    </ul>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
    <% end %>

    <%= yield %>
  </body>
</html>
