<!DOCTYPE html>
<html>
  <head>
    <title>Monochords</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/68c363eefb.js" crossorigin="anonymous"></script>
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    <div class="outer-wrapper">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
